.main {
	min-height: 400px;
	background-color: lightgray;
}

.header {
	background-color: gray;
}

.footer {
	background-color: darkgray;
}

.inputs {
	width: 100%;
}

.header {
	border-radius: 10px;
	margin-bottom: 10px;
}

.header h1 {
	color: white;
	font-size: 70px;
}

.header h3 {
	color: white;
}

.table {
	width: 100%;
}